<%= render "/shared/header" %>
<section class="formPage">
<h3>ADD A NEW PROJECT</h3>
<!-- <p>or <%= link_to "Return to All Projects", projects_url %></p></br> -->


<%= render "form" %>
<%= render "/shared/footer" %>
