/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*============== GENERAL/SHARED STYLING*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin:0 auto;
}

h1 {
	width:80%;
	max-width:600px;
	margin: 0 auto;
	text-align: center;
	padding:15px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

h1 a {
	font-weight:bold; 
	font-size:30pt;
	color:#fff;
	text-decoration: none;
	text-align: center;
}

header h3.pages { 
	font-weight: 200; 
	margin-top: -20px;
}

h4 {
	text-transform: uppercase;
	font-size:120%;
	font-weight: 300;
	border: solid 1px #000;
	width:160px;
	padding:10px;
}

h5 { font-weight: 100; }

.inApp p.userinfo {
	color: #222222;
	text-align: right;
	margin-right: 40px;
}

ul li { list-style-type: none; }

ul.projects {
	height:100%;
	overflow: auto;
	width:80%;
	max-width: 775px;
	margin:0 auto;
	padding-left: 0px;
	margin-bottom: 60px;
	margin-top:50px;
}

ul.projects li{
	width:245px;
	display: block;
	float:left;
	list-style-type: none;
	margin: 0 auto;
	margin-right:10px;
	margin-bottom: 40px;
	text-align: center;
}

ul.projects li a{
	text-decoration: none;
	padding-bottom:20px;
	text-transform: uppercase;
	text-decoration: none;
	color:#222;
}

ul.projects li a::before,
ul.projects li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

ul.projects li a::before {
	margin-right: 5px;
	content: '[';
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	transform: translateX(10px);
}
ul.projects li a::after {
	margin-left: 5px;
	content: ']';
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	transform: translateX(-10px);
}

ul.projects li a:hover::before,
ul.projects li a:hover::after,
ul.pprojects li a:focus::before,
ul.projects li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.flatButton {
  position: relative;
  vertical-align: top;
  width:180px;
  height: 30px;
  padding: 0;
  padding-top: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f1b601; 
  border: 0;
  border-bottom: 2px solid #d5a102;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #d5a102;
  box-shadow: inset 0 -2px #d5a102;
  margin: 0 auto;
}

.flatButton:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline:none;
}

.flatButton a{
	text-decoration: none;
	color:#fff !important;
}

.footer {
	text-align: center;
	width:100%;
	margin:0 auto;
	margin-top:0px;
	height: 5px;
	height: 100%;
	overflow: auto;
	background-color: #270346;
	color: #fff;
}

.madeWith { font-size: 9pt; }

.madeWith img {
	vertical-align: text-top;
	margin-top: 1px;
	height:15px;
	margin-left: 3px;
}


.formPage {
	width:80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.formPage h3 {
	font-weight: 300;
	padding-bottom: 20px;
}

.formPage .flatButton{
	padding-top:0px;
	margin-top:20px;
	font-weight: 100;
}

.formPage p a {
	text-decoration: none;
	color: grey;
}

.formPage label { font-size: 11pt; }

input, textarea {
	width:50%;
	margin-bottom:20px;
	border:solid 1px #ccc;
}

#alert, #notice {
	margin-top:30px;
	font-size:120%;
	text-align: center;
}

.error_messages li {
	list-style-type: none;
	padding-left: 0px;
	margin-left:-20px;
}


html.turbolinks-progress-bar::before {
  background-color: #ccc !important;
  height: 3px !important;
}

/*============== SIGNUP/LOGIN STYLING*/
.loginSignup a {
	padding:5px 7px;
	margin-right:5px;
	background-color: #f1b601;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

/*============== MEDIA QUERIES*/
@media screen and (max-width: 960px) {
    ul.projects li {
    	width:40%;
    	margin-right:10%;
    }
}

@media screen and (max-width: 736px) {
	h1 img { max-width: 400px; }
}

@media screen and (max-width: 500px) {
	ul.projects li { width:100%; }
    h1 img { max-width: 320px; }
}
